/* FOOTER */
.greybar {
    @include setWidthHeightAndBG(100%, 90px, $backgroundwhite);
    clear: both;
    padding-top: 30px;
}

footer {
    @include setWidthHeightAndBG(100%, 120px, $backgroundgrey);
    text-align: center;
    color: $white;
    padding-top: 50px;
}

.social-media {
    @include break(0, 500px) {
        display: none;
    }

    margin:0 auto;
    width:165px;

    div {
        float: left;
        margin-right: 5px;
    }

    a {
        display: block;
        width: 36px;
        height: 36px;
        text-indent: -9999px;
    }

    div.one {
        background: url($social-media-image-path) 0 0;
    }

    div.two {
        background: url($social-media-image-path) -38px 0;
    }

    div.three {
        background: url($social-media-image-path) -76px 0;
    }

    div.four {
        background: url($social-media-image-path) -114px 0;
    }

}