/* HEADER */
header {
    width: inherit;
    clear: both;
    text-align: center;
    padding-top: 40px;

    //Using math operation to calculate the break point
    @include break(0, 500px) {
        padding-top: 40/40 * 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

$heading-colors: $red,
$white,
$grey;

@for $item from 1 through length($heading-colors) {
    h#{$item} {
        color: nth($heading-colors, $item);
    }
}

h1 {
    @include setHeader(100, 4em);
}

h2 {
    @include setHeader(900, 2.5em);
    margin-bottom: 70px;
}

h3 {
    @include setHeader(400, 2em);
    margin-bottom: 50px;
}