//Color variables
$red: #E65C43;
$white: #FFF;
$grey: #666;
$backgroundred: #F25C43;
$backgroundwhite: #F5F6F6;
$backgroundgrey: #30353D;

//Font Variables
$font-body: 'Roboto', sans-serif;

//Image Variables
$bg-image-path: '../images/bg.gif';
$devices-image-path: '../images/devices.png';
$logo-image-path: '../images/logo.png';
$social-media-image-path: '../images/social-media.png';
$vconvert-image-path: '../images/vconvert.png';
$vprospect-image-path: '../images/vprospect.png';